variables:
  IMAGE_NAME: nirajvishwakarma/demo-app
  IMAGE_TAG: python-app-v1.1
#  DOCKER_HOST: tcp://localhost:2375

stages:
  - test
  - build
  - deploy

#run_tests:
#  stage: test
#  image: python:3.9-slim-buster
#  before_script:
#    - whoami
#    - apt-get update && apt-get install make
#  script:
#    - make test


build_image:
  stage: build
  image: docker:18.09.7-dind
  services:
    - docker:18.09.7-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs/client"
    DOCKER_DRIVER: overlay
  before_script:
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD
  script:
    - docker ps -a
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

deploy:
  stage: deploy
  variables:
    PYTHON_APP: python
  before_script:
    - chmod 400 $SSH_KEY
  script:
    - ssh -o StrictHostKeyChecking=no -i $SSH_KEY ubuntu@44.202.108.106 "
      docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD &&
      docker ps -aq | xargs docker stop $PYTHON_APP | xargs docker rm $PYTHON_APP &&
      docker run -d--name $PYTHON_APP -p 5000:5000 $IMAGE_NAME:$IMAGE_TAG &&
      docker ps"