variables:
  IMAGE_NAME: nirajvishwakarma/demo-app
  IMAGE_TAG: python-app-v1.1

stages:
  - test
  - build

run_tests:
  stage: test
  image: python:3.9-slim-buster
  before_script:
    - apt-get update && apt-get install make
  script:
    - make test

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: " /certs/client "
  before_script:
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD
  script:
    - whoami
    - docker build -t nirajvishwakarma/demo-app:python-app-v1.1 .
    - docker push $IMAGE_NAME:$IMAGE_TAG