variables:
  IMAGE_NAME: nirajvishwakarma/demo-app
  IMAGE_TAG: python-app-v1.1
#  DOCKER_HOST: tcp://localhost:2375

stages:
  - test
  - build

run_tests:
  stage: test
  image: python:3.9-slim-buster
  before_script:
    - apt-get update && apt-get install python3.8-venv && apt-get install make
  script:
    - make test

build_image:
  stage: build
  image: docker:18.09.7-dind
  services:
    - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs/client"
    DOCKER_DRIVER: overlay
  before_script:
    - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD
  script:
    - docker ps -a
    - docker build -t nirajvishwakarma/demo-app:python-app-v1.1 .
    - docker push $IMAGE_NAME:$IMAGE_TAG